body {
  font-family: sans-serif;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
p {
  font-size: 300%;
  font-weight: 900;
  text-align: center;
}
#app {
  color: white;
  background: linear-gradient(#f7aeb7, #ffcccc, #ffeee6);
  height: 100vh;
  display: flex;
  flex-direction: column;
  width: 100vw;
  align-items: center;
}
#white {
  height: 60px;
  width: 60px;
  display: inline-block;
  border: 1px ridge;
  background-color: rebeccapurple;
  transform: translateY(20px);
}
#black {
  height: 60px;
  width: 60px;
  display: inline-block;
  border: 1px ridge;
  background-color: yellowgreen;
  transform: translateY(20px);
}
p {
  display: inline;
}
/* new css */
.box {
  height: 100px;
  width: 100px;
  border: 1px solid;
  display: inline-block;
  margin: 10px;
  border: 1px ridge #f7aeb7;
  background: #fff;
}
.filled {
  background-color: #000000;
}
.P1 {
  background-color: yellowgreen;
}
.C {
  background-color: rebeccapurple;
}
.msg {
  margin: 10px;
  color: red;
  font-weight: bold;
}
.msg::before {
  content: ".";
}
